<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<h1>CoachingController#ask</h1>
<p>Find me in app/views/coaching_controller/ask.html.erb</p>

<div class="container text-center">
  <form action="/answer" method="get">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" class="form-control" name="query" placeholder="what time is it?">
    </div>
      <input type="submit" class="btn btn-primary text-center" value="Go on!">
  </form>
</div>

